@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.beer-display {
    border: 2px solid black;
    border-radius: 20px;
    background-color: sandybrown;
    width: 260px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    &__title {
        font-size: 22px;
        text-align: center;
        color: darkslategray;
    }

    &__img-container {
        flex-basis: 20%;
        height: 220px;
        width: 220px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        margin: 15px;
        border: 2px solid lightgrey;
        border-radius: 5px;

        &--image {
            height: 210px;
            align-self: center;
        }
    }
    &__tag {
        text-align: center;
    }

    &__description {
        text-align: center;
    }
    &__info {
        width: 240px;
        
    }

}