.punk-beer{
    display: flex;
    flex-direction: row;

    &__nav{
        background-color: beige;
        height: 100vh;
        border-right: 10px solid olivedrab ;
    }
    &__main{
        background-color: bisque;
    }
}