.punk-beer{
    display: flex;
    flex-direction: row;
    background-color: bisque;

    &__nav{
        background-color: beige;
        height: 2900px;
        border-right: 10px solid olivedrab ;
    }
    &__main{
        
    }
}